@import 'bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'owl.carousel2/src/scss/owl.carousel';

$fa-font-path:   "../fonts"; 

@import 'fonts';


$h1_size : 2.5em;
$p_size : 1.2em;

body{
    height: auto;
    width: 100%;
    font-size: 16px;
}

h1,h2,h3,h4{
    font-family: 'montserratbold';
}

p{
    font-family: 'baloo_regular';
}

button{
    font-family: 'montserratbold';
}

a{
    font-family: 'montserratbold';
}

form{
    font-family: 'montserratregular'; 
}

.section_home{
    background-image: url('../img/bgm_home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    &_text{
        margin-top: -6em;
        padding: 1em 2.5em;
        color: white;

        p{
            font-size: $p_size;
            line-height: 1.2;
            text-align: center;
        }
        
        h1{
            font{
                size: $h1_size;
                weight: bold;
            }
            line-height: 1;
            text-align: center;            
        }

    }

    &_totem{
        position: absolute;
        bottom: 2em;
        right: 0;
        width: 10em;
    }

    &_boton{
        position: absolute;
        bottom: 6em;
        left: 2em;
    }
    
    &_icon{
        position: absolute;
        bottom: 0.2em;
        color: #fff;
        left: 49%;
        display: block;
        font-size: 2em;
    }
}

.section_services{
    padding: 5em 2em;
    //height:  calc(100vh - 59px);
    height: auto;
    overflow: hidden;
    background-color: #c6c6c6;
    &_text{
        h2{
            text-align: center;
        }
    }

    .cards_block{
        margin-bottom: 2em;
        margin-top: 2rem;
    }

    &_card{
        padding: 2em 2.5em;
        min-height: 6em;
        background-color: #262626;
        margin-bottom: 2em;
        display: flex;
        align-items: center;
        border-radius: 10px;
        .gicons{
            width: 60px;
            height: 50px;
            margin-right: 1.5em;
            background-image: url('../img/Gicons.svg');
            background-repeat: no-repeat;
            background-size: cover;
            zoom: 0.8;
            
            &._1{
                background-position: 49%;
            } 
            
            &._2{
                background-position: 0%;
            }

            &._3{
                background-position: 100%;
            }
        }
        h4{
            color: white;
            text-align: left;
            margin:0;
            font-size: 1.2em;
        }
    }
}

.section_why{
    padding: 4em 2em;
    height: auto;
    overflow: hidden;

    h2{
        text-align: center;
    }

    .imgInfo{
        width: 100%;
        margin-top: 2em;
        img{
            width: 50vw;
            margin: 0 auto;
            display: block;
        }
    }

    .textInfo{
        margin-top: 2em;

        h3{
            font-size: 1.5em;
            text-align: center;
        }

        p{
            text-align: justify;
        }
        
    }
}


.section_team{
    padding: 5em 0em;
    height:  calc(100vh - 59px);
    //height: auto;
    overflow: hidden;
    background-color: #fff;
    background-image: url('../img/bg_m_team.svg');
    background-repeat: no-repeat;
    background-position: 0% 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    .carrusel{
        width: 100%;
        .section_team_card{
            background-color: rgba($color: #c6c6c6, $alpha: 1);
            padding: 1em;
            border-radius: 10px;

            .img{
                width: 80px;
                height: 80px;
                background-image: url('../img/foto-perfil.jpg');
                background-size: cover;
                border-radius: 50%;
                margin: 0.5em auto;
            }

            h4{
                font-size: 1em;
                text-align: center;
            }

            p{
                margin: 0;
                line-height: 1;
                font-size: 0.8em;
                text-align: justify;
            }

        }

    }
}

.section_m_contact{
    padding: 4em 2em;
    min-height:  calc(100vh - 59px);
    overflow: hidden;
    background-image: url('../img/bg_m_contact.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    position: relative;
    &_text{
        
        h2{
            text-align: center;
            color: white;
        }

        p{
            color: white;
            text-align: center;
            line-height: 1;
        }
    }

    &_form{
        margin: 2em auto;
        padding: 2em;
        background-color: #c6c6c610;
        border-radius: 10px;
        border: 1px solid white;
        input{
            width: 100%;
            margin-bottom: 1em;
            &:focus{
                border: 1px solid white;
                box-shadow: white;
                outline: violet !important;
                font-weight: bold;
            }
        }

        textarea{
            width: 100%;
            height: 6em;
            &:focus{
                box-shadow: violet;
                outline: violet !important;
                border: 1px solid;
                font-weight: bold;
            }
        }

        textarea,input{
            background-color: #e6e6e640;
            border: 0;
            color: white;
            border-radius: 5px;
            padding: 0.5em 1em;
            &::placeholder{
                color: white;
            }
        }

        button{
            margin: 1.5em auto 0em;
            display: block;
            background-color: #262626;
            border: 0px;
            padding: 0.5em 1.5em;
            border-radius: 5px;
            color:white;
        }
    }

    &_redes{
        display: flex;
        justify-content: center;
        a{  margin: 1em;
            color: white !important;
            i{
                font-size: 2.5em;
            }
        }

        &_copy{
            position: absolute;
            display: block;
            margin: 0 auto;
            text-align: center;
            color: white;
            bottom: 1em;
        }

        &_goHome{
            position: absolute;
            bottom: 1em;
            right: 1em;
            color: white;
            font-size: 1em;
            a{  
                font-size: 0.8em;
                color: white;
            }
            
            
        }
    }
}

#owl-demo {
    margin-top: 100px;
  }
  
  .item {
    height: 300px;
    width: 100%;
    background: red;
  }

.owl-carousel .owl-stage-outer {
    overflow: inherit !important;
}

.owl-carousel .owl-item.active.center{
    transform: scale(1.2);
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.owl-carousel .owl-item{
    transform: scale(0.9);
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}

.owl-carousel .owl-item.cloned{ 
    transform: scale(0.9);
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}